body{
    height: 200px;
    width: auto;
    margin-top: 300px;
    margin-left: 900px;
}

#calculator{
    box-shadow: 0 0 10px black;
    height: auto;
    width: 325px;
    padding: 30px;
    border-radius: 25px;
}

h2{
    margin-left: 20px;
}

input{
    padding:20px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
}

input[type=text]{
    padding-left: 78px;
}

input[type=button][value="C"]{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 56px;
    padding-right: 56px;
}

input[type=button][value="0"]{
    padding-left: 95px;
    padding-right: 95px;
}

input[type=button][value="/"]{
    padding-left: 22.5px;
    padding-right: 22.5px;
    background-color: rgb(113, 250, 250);
}

input[type=button][value="."]{
    padding-left: 22.5px;
    padding-right: 22.5px;
}

input[type=button][value="*"]{
    padding-left: 21.5px;
    padding-right: 21.5px;
    background-color: rgb(113, 250, 250);
}

input[type=button][value="-"]{
    padding-left: 21.5px;
    padding-right: 21.5px;
    background-color: rgb(113, 250, 250);
}

input[type=button][value="+"]{
    background-color: rgb(113, 250, 250);
}
